 <header *ngIf="currentUrl !== '/login'">
    <!-- @if (role == 'Admin'){

      <div class="sidebar">
    <h2>Admin Panel</h2>
    <ul>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Orders</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Customers</a></li>
      <li><a (click)="logOut()">Logout</a></li>
    </ul>
  </div>
   }
    -->
    <!-- if (role == 'Customer'){
        <img src="images\banner.jpeg" alt="ColorSplash Banner" class="banner" />
    <nav>
     
      <h1>ColorSplash Paints</h1>
      <ul>
        <li><a>Home</a></li>
        <li><a>Logout</a></li>
        <li><a href="#">Brands</a></li>
      </ul>
    </nav>
   }

   @else{
           <img src="images\banner.jpeg" alt="ColorSplash Banner" class="banner" />
    <nav>

      <h1>ColorSplash Paints</h1>
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="login">Login</a></li>
        <li><a href="#">Brands</a></li>
        <li><a href="#">Register</a></li>
      </ul>
    </nav>
   }
  </header>
 -->
