<div class="sidebar">
    <h2>Admin Panel</h2>
    <ul>
      <li><a routerLink="/admin">Dashboard</a></li>
      <li><a routerLink="/admin/category">Categories</a></li>
      <li><a a routerLink="/admin/brand">Brands</a></li>
      <li><a routerLink="/admin/product">Products</a></li>
      <li><a routerLink="/admin/status">Status</a></li>
      <li><a routerLink="/admin/colour">Colour</a></li>
      <li><a routerLink="/admin/orderview">Orders</a></li>
      <li><a (click)="logOut()">Logout</a></li>
    </ul>
</div>
<div class="main-content">
<div class="container">
<router-outlet></router-outlet>
</div>
</div>