<div class="table-container">
 <div class="table-header">
    <h2>Brand List</h2>
    <button class="view-btn" routerLink="/admin/brand">Add Brand</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Brand Name</th>
        <th>Logo</th>
        <!-- <th>Actions</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of brands; let i=index">
        <td>{{i+1}}</td>
        <td>{{data.brandName}}</td>
        <td><img [src]="data.logo" /></td>
        <!-- <td><button>Edit</button> <button>Delete</button></td> -->
      </tr>
    </tbody>
  </table>
</div>