<div class="table-container">
  <button class="view-btn" routerLink="/admin/category">Add Category</button>
  <h2>Category List</h2>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Category Name</th>
        <!-- <th>Actions</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of categories; let i=index">
        <td>{{i+1}}</td>
        <td>{{data.categoryName}}</td>
        <!-- <td><button>Edit</button> <button>Delete</button></td> -->
      </tr>
    </tbody>
  </table>
</div>