<div class="registration-container">
  <h2>Create Account</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="regForm">
      <div *ngIf="regForm.get('Name')?.touched && regForm.get('Name')?.invalid">
          <span class="error-text" *ngIf="regForm.get('Name')?.errors?.['required']">
            *Name is required.
          </span>
          <span class="text-danger" *ngIf="regForm.get('Name')?.errors?.['pattern']">
            *Name must start with a capital letter and contain only alphabets.
          </span>
      </div>
    <input type="text" placeholder="Full Name" formControlName="Name" required />
    
    <div *ngIf="regForm.get('Email')?.touched && regForm.get('Email')?.invalid">
      <span class="error-text" *ngIf="regForm.get('Email')?.errors?.['required']">
        *Email is Required
      </span>
      <span class="error-text" *ngIf="regForm.get('Email')?.errors?.['email']">
        *Please enter a valid Email
      </span>
    </div>
    <input type="email" placeholder="Email Address" formControlName="Email" required />

    <div *ngIf="regForm.get('Contact')?.touched && regForm.get('Contact')?.invalid">
      <span class="error-text" *ngIf="regForm.get('Contact')?.errors?.['required']">
        *Contact is Required
      </span>
      <span class="error-text" *ngIf="regForm.get('Contact')?.errors?.['pattern']">
        *Contact should contain 10 digits
      </span>
    </div>
    <input type="tel" placeholder="Phone Number" formControlName="Contact" />

    <div *ngIf="regForm.get('Address')?.touched && regForm.get('Address')?.invalid">
      <span class="error-text">
        *Address is Required
      </span>
     </div>
    <textarea placeholder="Address" formControlName="Address"></textarea>

    <div *ngIf="regForm.get('Username')?.touched && regForm.get('Username')?.invalid">
      <span class="error-text">
        *Username is required and should have a minimum length of 5
      </span>
     </div>
    <input type="text" placeholder="Username" formControlName="Username"  required />
     <div *ngIf="regForm.get('Password')?.touched && regForm.get('Password')?.invalid">
      <span class="error-text">
        *Password is required and should have a minimum length of 5
      </span>
     </div>
    <input type="password"  placeholder="Password" formControlName="Password" required  />
    <button type="submit">Register</button>
  </form>
  <div class="error-text">
    {{message}}
  </div>
  <p class="login-link">Already have an account? <a routerLink="/login">Sign in</a></p>
</div>
